body{
 font-family: cursive;
    background-origin: padding-box;
    background-color:whitesmoke;

}
img:hover{
    opacity:0.5; 
}
.p1{
   
    color: darkseagreen;
 
    width: 300px ;
    height: 150px;
    font-family:cursive;
}
.p1:hover{
    background-color: white;
    font-size: 15px;
}
#left{
 float: left;
        background-color: beige;
    border: 4px solid gray;
        border-collapse: collapse;
    
}

#topright{
 float:left;
    position: absolute;
  left:320px;
    top: 0px;
   font-size: 20px;
    padding: 0px;
    margin: 10px;
   border: 4px solid gray;
     border-radius: 20px;
}

#topright:hover{
    font-size: 15px;
    opacity: 0.6;
    background-color: firebrick;
    
}
#bottomright{
  float: left;
    position: absolute;
    left:320px;
    top: 550px;
     font-size: 21px;
    padding: 0px;
    margin: 10px;
    border: 4px solid gray;
    border-radius: 20px;
   
}

#bottomright:hover{
    font-size: 15px;
    opacity: 0.6;
    background-color:brown;
    
}
footer{
    background-color: aqua;
    position: absolute;
    top: 1030px;
    width: 100%;
    text-align: center;
}



/*media quary*/


@media screen and (max-width: 1000px) {
    pre{ width: 600px;}
     #topright{
        
         width: 600px;
      }
    #bottomright{ width: 600px; }
    
    footer{width: 95%;}

      
      }


@media screen and (min-width: 1280px) {
footer{width: 100%;}
}